# entorno virtual
venv/

# python
__pycache__/
*.pyc
*.pyo

# catboost genera esto automaticamente al entrenar
catboost_info/

# archivo de configuracion del venv
pyvenv.cfg

# archivos de sistema operativo
.DS_Store
Thumbs.db

# variables de entorno
.env
